appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
build==1.2.1
cachecontrol==0.14.0
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.3.2
ciso8601==2.3.1
cleo==2.1.0
colorama==0.4.6
comm==0.2.2
crashtest==0.4.1
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
dulwich==0.21.7
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.15.1
glob2==0.7
identify==2.5.36
idna==3.7
importlib-metadata==7.1.0
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.29.4
ipython==8.25.0
jaraco-classes==3.4.0
jedi==0.19.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-client==8.6.2
jupyter-core==5.7.2
just==0.8.162
keyring==24.3.1
lxml==5.2.2
matplotlib-inline==0.1.7
maturin==1.6.0
more-itertools==10.3.0
msgpack==1.0.8
nbclient==0.10.0
nbformat==5.10.4
nest-asyncio==1.6.0
nodeenv==1.9.1
orjson==3.10.5
packaging==24.1
parso==0.8.4
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.2.2
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
pre-commit==3.7.1
prompt-toolkit==3.0.47
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
pygments==2.18.0
pyproject-api==1.6.1
pyproject-hooks==1.1.0
pytest==8.2.2
python-dateutil==2.9.0.post0
pyyaml==6.0.1
pyzmq==26.0.3
quarto==0.1.0
rapidfuzz==3.9.3
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
requests-viewer==0.0.12
rpds-py==0.18.1
shellingham==1.5.4
six==1.16.0
stack-data==0.6.3
tomlkit==0.12.5
tornado==6.4.1
tox==4.15.1
traitlets==5.14.3
trove-classifiers==2024.5.22
typing-extensions==4.12.2
urllib3==2.2.2
uv==0.2.13
virtualenv==20.26.2
wcwidth==0.2.13
xattr==1.1.0
zipp==3.19.2
